<?php include APP_PATH.'/public/admin/header_meta.html' ?>
<?php include APP_PATH.'/public/admin/header.html' ?>
<section id="main" data-layout="layout-1">
    
    <aside id="sidebar" class="sidebar c-overflow toggled">
        <?php include APP_PATH.'/public/admin/menu_left.html' ?>
    </aside>
    <section id="content">
        <div class="container">
            <div id="myeditor"></div>
            <div class="card">
                <div class="card-header">
                    <h2>广告管理</h2>
                </div>
                <div class="table-responsive">
					
					<div id="myTabContent" class="tab-content">
						<form class="form-horizontal" action="/admin/banner/add" id="addform" method="post" enctype="multipart/form-data">
							<div class="tab-pane fade in active" id="A">  
								<fieldset>
									<div class="form-group" style="margin-right: 0px;">
										<input class="file" id="file"  type="file" name="file[]" style="width:15%;float:left;padding-left: 20px;"/>
										<!--<input class="form-control" id="link" type="text" name="file[link]" cll="link"  placeholder="链接" style="width:25%;float:left"/>
										<input class="form-control" id="sort" type="text" name="sort[sort]" cll="sort" placeholder="排序" style="width:25%;float:left"/>-->
									</div>
								</fieldset>
							</div>
						</form>
						<button type="button" id="button" class="btn" style="margin-left: 400px;margin-right: auto;float: none;display: block;">添加</button>
						<button type="button" id="submitBtn" class="btn btn-primary btn-lg btn-insert" style="margin-left: auto;margin-right: auto;float: none;display: block;">保存设置</button>
					</div>
                </div>
				
            </div>
        </div>
    </section>
</section>
<script>
    //全局变量
    require(['pathCnf'],function (pathCnf) {
        require(['bootgrid','bootstrapSelect','sweetAlert','summernote-zh','fileinput','jqueryform'],function () {
            $("#submitBtn").on('click',function (e) {
                //添加按钮
                //if(e.target.className.indexOf('btn-insert')>0){
                    var options={
                        dataType:'json',
                        success:function (data) {
                            $("#addform")[0].reset();
                            if(data.code=='0'){
                                swal(data.msg);
                            }else if(data.code=='1002'){
                                swal(data.msg);
                            }else{
                                swal('操作失败');
                            }
                        }
                    };
                    $("#addform").ajaxSubmit(options);
                //}
            })
        });
    });
    function sendFile($summernote,file,artId) {
        oMyForm = new FormData();
        oMyForm.append("file", file);
        if(artId){
            oMyForm.append("artId",artId);
        }
        oMyForm.append("type","1");
        oMyForm.append("from","2");
        var fileData = URL.createObjectURL(file);
        $summernote.summernote('insertImage', fileData,function ($image) {
            $.ajax({
                url: "/admin/articleinfo/uploadimg",
                data: oMyForm,
                cache: false,
                contentType: false,
                processData: false,
                dataType:"json",
                type: 'POST',
                success: function(data){
		    console.log('img',data);
                    if(data.code==0) {
                        $image.attr('src', data.data);
                    }else if(data.code=='3') {
                        swal('操作失败', '没有权限,请联系管理员!');
                    }else {
                        swal('操作失败');
                    }
					$("#myTabContent").bootgrid("reload");
                }
            });

        });
    }


    $(document).ready(function(){
        $("#button").on("click",function(){
            $("#addform").append('<fieldset><div class="form-group" style="margin-right: 0;"><input type="file" name="file[]" value="" style="width:15%;float:left;padding-left: 20px;"/><span class="del">[-]</span></div></fieldset>');
        });

        $("form").on("click",".del",function(){
            $(this).parent().remove();
        });
    });
</script>
<?php include APP_PATH.'/public/admin/footer.html' ?>
