<?php include APP_PATH.'/public/admin/header_meta.html' ?>
<?php include APP_PATH.'/public/admin/header.html' ?>
<section id="main" data-layout="layout-1">
    
    <aside id="sidebar" class="sidebar c-overflow toggled">
        <?php include APP_PATH.'/public/admin/menu_left.html' ?>
    </aside>
    <section id="content">
        <div class="container">
            <div id="myeditor"></div>
            <div class="card">
                <div class="card-header">
                    <h2>qq号列表 <small>管理所有qq操作.</small></h2>
					<form action="/admin/newaac/excel" method="post">
					<div style="width: 200px;float: right;position: inherit;margin-top: -50px;"><input type="submit" value="导出Excel"></div>
					<form>
                </div>
                <div class="table-responsive">
                    <table id="data-table-selection" class="table table-striped">
                        <thead>
                        <tr>
                            <th data-column-id="id" data-order="desc" data-type="numeric" data-identifier="true">ID</th>
                            <th data-column-id="qq">qq</th>
                            <th data-column-id="moneyadd">旧钱包地址</th>
                            <th data-column-id="newmoneyadd">新钱包地址</th>
                            <th data-column-id="logins">登录次数</th>
                            <th data-column-id="platform">平台地址</th>
                            <th data-column-id="c_time"  data-formatter="c_time">时间</th>
                            <th data-column-id="commands" data-formatter="commands" data-sortable="false">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
				
            </div>
        </div>
    </section>
</section>
<script>
    //全局变量
    require(['pathCnf'],function (pathCnf) {
        require(['bootgrid','bootstrapSelect','sweetAlert','summernote-zh','fileinput','jqueryform'],function () {
            $('.selectpicker').selectpicker({
                style: 'btn-default',
                size: 4
            });
            var grid=$("#data-table-selection").bootgrid({
                ajax: true,
                post: function ()
                {
                    /* To accumulate custom parameter with the request object */
                    return {
                        id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                    };
                },
                selection: true,
                multiSelect: true,
                rowSelect: true,
                keepSelection: true,
                url: "/admin/newaac/tabPage",
                responseHandler:function (data) {
                    var ret={
                        "current": data.data.current,
                        "rowCount": data.data.rowCount,
                        "rows":data.data.data,
                        "total": data.data.total
                    }
                    return ret;
                },
                templates: {
                    //actions: '<div class="actions btn-group"><div class="dropdown btn-group"><button class="btn btn-default btn-add"><span class="zmdi zmdi-account-add zmdi-hc-fw"></span></button></div></div>',
                    actionButton:'<div class="dropdown btn-group"><button class="btn btn-default"><span class="zmdi zmdi-refresh zmdi-hc-fw"></span></button></div>'
                },
                formatters: {
                    "c_time":function (column,row) {
                        return new Date(parseInt(row['c_time']) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');
                    },
                    "commands": function(column, row)
                    {
                       // var btn_publish=("<?php if(unserialize($_SESSION['user']['permission'])['is_administortar']==1){ echo '<button type=\"button\" class=\"btn btn-icon bgm-white waves-effect waves-circle btn_publish\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-tv-alt-play zmdi-hc-fw\"></span></button>'; }?>");

                        //var btn_edit=("<?php if(unserialize($_SESSION['user']['permission'])['is_administortar']==1){ echo '<button type=\"button\" class=\"btn btn-icon bgm-white waves-effect waves-circle btn_update\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-edit\"></span></button>'; }?>");
						
                        var btn_delete=("<?php if(unserialize($_SESSION['user']['permission'])['is_administortar']==1){ echo '<button type=\"button\" class=\"btn btn-icon bgm-white waves-effect waves-circle btn_delete\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-delete\"></span></button>'; }?>");

                        return btn_delete;
                    }
                }
            }).on('loaded.rs.jquery.bootgrid',function () {
                grid.find('.btn_delete').on('click',function (e) {
                    var id=$(this).attr('data-row-id');
                    swal({
                        title: "你将要删除吗?",
                        text: "如果你删除了,将无法恢复!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "delete",
                        closeOnConfirm: false
                    }, function(){
                        $.ajax({
                            type:"post",
                            url:"/admin/newaac/delete",
                            data:{'id':id},
                            async:true,
                            dataType:'json',
                            beforeSend:function () {
                                $("#data-table-selection").ajax_loader({size:'pl-lg',color:'pls-green'});
                            },
                            complete:function () {
                                setTimeout(function () {
                                    $("#data-table-selection").find('.ajax-loader').fadeOut();
                                },100);
                            },
                            success:function (data) {
                                if(data.code=='0'){
                                    swal("已删除!", "已删除.", "success");
                                    $("#data-table-selection").bootgrid("reload");
                                }else if(data.code=='3'){
                                    swal('操作失败','没有权限,请联系管理员!');
                                }else{
                                    swal('操作失败');
                                }
                            }
                        })

                    });
                });
				
                grid.find('.btn_search').on('click',function (e) {
                    var id=$(this).attr('data-row-id');
                    window.open("../newaac/item?id="+id);
                })
            });
            
        });
    });
</script>

<?php include APP_PATH.'/public/admin/footer.html' ?>
