<div class="modal fade" id="m-add-info" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="ModalLabel">
                    添加投票信息
                </h4>
            </div>
            <div class="modal-body form-horizontal">
                <form id="addform" action="/admin/vote/add" method="post">
                    <div class="form-group">
                        <label for="inputAddVoteName" class="col-sm-3 control-label">项目名称</label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                <input type="text" class="form-control input-sm" id="inputAddVoteName"  name="name" placeholder="项目名称">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">图片</label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div id="add_img" class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                                    <div>
                                            <span class="btn btn-info btn-file">
                                                <span class="fileinput-new">选择图片</span>
                                                <span class="fileinput-exists">重新选择</span>
                                                <input id="fileinput" type="file" name="show_img">
                                            </span>
                                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">移除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddVoteContent" class="col-sm-3 control-label">项目描述</label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                            <textarea  class="form-control input-sm" id="inputAddVoteContent" name="content" placeholder="项目描述" >
                            </textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect btn-insert">添加</button>
                <button type="button"  class="btn btn-default close-modal" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>