<?php include APP_PATH.'/public/admin/header_meta.html' ?>
<?php include APP_PATH.'/public/admin/header.html' ?>
<section id="main" data-layout="layout-1">
    <aside id="sidebar" class="sidebar c-overflow toggled">
        <?php include APP_PATH.'/public/admin/menu_left.html' ?>
    </aside>
</section>
<script>
    require(['pathCnf'],function (pathCnf) {
        require(['bootstrapSelect','sweetAlert'],function () {

        })
    })
</script>
<?php include APP_PATH.'/public/admin/footer.html' ?>